body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text] {
  width: auto;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff;
}

input[type=password] 
{
  width: auto;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff;
}
input[type=date] 
{
  width: auto;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff;
}

button{
  background-color: #1cacd3;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4580a0;
}

form {
  border-radius: 5px;
  background-color: #867b7b;
  padding: 20px;
  width: 25%;
  height: auto;
  opacity: 0.7;
  
}
.link{
  color: #ffffff;
}

label {
color: rgb(246, 242, 242);
align:left
}

