.play{
    height: 450px;
    width: 1308px;
}
#playsong {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 450px;
  width: 1308px;
  
}

#playsong td, #playsong th {
  border: 0px solid #ddd;
  padding: 8px;
}

#playsong tr:nth-child(even){background-color: #a85b5b;opacity: 0.8;}
#playsong tr:nth-child(odd){background-color: #515151;opacity: 0.8;}

/* #playsong tr:hover {background-color: #ddd;} */

#playsong th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #515151;
  color: white;
}

.button {
  /* background-color: #00ffa2; Green */
  background-image: linear-gradient(to bottom right, #ff002f, #d9ff00);
  border: none;
  color: rgb(74, 65, 65);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 2px;
  border-radius: 100%;
  cursor: pointer;
  
}
.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}




         
.btn-grad {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
