.play{
    height: 400px;
    width: 1497px;
}
td{
    color:rgb(0, 0, 0);
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 99%;
  }
  
  #customers td, #customers th {
    border: 0px solid #ddd;
    padding: 20px;
  }
  
  #customers tr:nth-child(odd){background-color: #b55c5c;}
  #customers tr:nth-child(even){background-color: #8a7c7c;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
  }  